#blacklist-items-list {
    list-style: none;
}

#blacklist-item-template {
    visibility: collapse;
}

#blacklist-instructions {
    width: 100%;
}

.content-remove-btn, .content-name {
    display: inline;
}

.blur {
    filter: blur(3px);
    color: transparent;
	text-shadow: 0 0 8px #000;
}