#blacklist-items-list {
    list-style: none;
}

#blacklist-item-template {
    visibility: collapse;
}

#blacklist-instructions {
    width: 100%;
}

.content-remove-btn, .content-name {
    display: inline;
}